@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
    border:0
}

body, html{
    background-color: #E8E8E8;
    font-family: poppins, cursive;
    scroll-behavior: smooth;
}

/* Cabeçalho */

.menu{
    background-color: #676260;
    color: white;
    padding: 20px 20px 20px 60px;
}

.nome{
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

/* Introdução */

.intro {
    position: relative;
    width: 100%;
    height: 93vh;
    display: flex;
    align-items: center;
}

.intro::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.42);
}

.intro-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contain {
    text-align: left;
    background-color: rgba(133, 128, 126, 0.47);
    padding: 20px 5%;
    width: 100%;
    margin-top: 400px;
    z-index: 1;
    
}


.entert{
    text-align: left;
    background-color: rgba(133, 128, 126, 0.47);
    padding: 20px 5%;
    width: 100%;
    margin-bottom: 300px;
    z-index: 1;
}

h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    word-wrap: break-word;
}

.subtit_maior{
    color: white;
}

.subtit_menor {
    color: white;
    padding-left: 30px;
}

/* Pequena desc*/

.smaly{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 1.1rem;
    word-wrap: break-word;
}

.rent{
    background-color: rgba(219, 215, 213, 0.66);
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.function{
    background-color: rgba(219, 215, 213, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    padding: 50px 10px 50px 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.function-t{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.function-list > li{
    margin-bottom: 20px;
}

/* Conteudo */

.exp{
    background-color: rgba(219, 215, 213, 0.66);
    text-align: center;
    margin-top: 30px;
    font-size: 1.1rem;
    padding: 50px 0px 50px 0px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.desc{
    width: 45vw;
    margin: auto;
}

.sobre{
    padding: 10px;
    width: 65vw;
    margin: auto;
}

/* Conexão */

.box-exp{
    background-color: rgba(219, 215, 213, 0.66);
    margin-top: 30px;
    padding-bottom: 60px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.tit{
    padding: 50px 5%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.box-con{
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 100px;
}

.connect{
    background-color: gray;
    width: 35vw;
    height: 310px;
    border-radius: 35px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}

.connect:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in;
}

.connect:not(:hover) {
    transform: scale(1.0);
    transition: transform 0.2s ease-in;
}

/* Serviços */

.redi{
    background-color: rgba(0, 0, 0, 0.71);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px;
    border-radius: 35px;
    width: fit-content;
    margin: 30px 2%;
    text-align: center;
}

.apoio, .orient, .assis, .proj, .curso, .donation, .alcoholic, .drugs{
    background-size: cover;
    background-position: center;
}
.apoio{
    background-image: url(../IMG/family_support.jpg);
}
.orient{
    background-image: url(../IMG/orientação.jpg);
}
.assis{
    background-image: url(../IMG/helping.jpg);
}
.proj{
    background-image: url(../IMG/proj.jpg);
}
.curso{
    background-image: url(../IMG/courses.jpg);
}
.donation{
    background-image: url(../IMG/donation.webp);
}
.alcoholic{
    background-image: url(../IMG/alcoholic.jpg);
}
.drugs{
    background-image: url(../IMG/drugs.jpg);
}

/* Caixa de informações */

.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 5%;
    word-wrap: break-word;
}

.caixa-bem {
    background-color: rgba(219, 215, 213, 0.66);
    border-radius: 15px;
    padding: 50px 10%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.titulo-bem {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 10px;
}

.caixa-bem p {
    margin-bottom: 15px;
    line-height: 1.5;
}

/* Apoio Familia */

.sup {
    font-size: 1.45em;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.apoios {
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
    margin-top: 0;
}

.assit-past {
    padding-left: 20px;
}

.assit-past li {
    margin-bottom: 10px;
}

.box-offer {
    background-color: rgba(219, 215, 213, 0.66);
    padding: 50px 5%;
    margin: 0 auto;
    border-radius: 15px;
    max-width: 1200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.column-al {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.colunas {
    flex: 1;
    min-width: 300px;
}

/* Rodapé */

footer{
    background-color: #3A3A3A;
    color: white;
}

.control{
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    gap: 250px;
    padding: 40px 10%;
}

.campos{
    text-align: center;
}

.meio{
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 400;
}

/* Media Queries */

@media (max-width: 1300px) {
    /* Cabeçalho */
    .nome{
        font-size: 1.75rem;
    }

    /* Introdução */
    h1{
        font-size: 2.5rem;
    }

    /* Conteudo */
    .exp{
        font-size: 1rem;
    }

    .tit{
        font-size: 2.25rem;
        font-weight: 700;
    }

    /* Conexão */
    .box-con{
        gap: 20px;
        grid-template-columns: 1fr;
    }
    
    .connect{
        width: 60vw;
        height: 260px;
        margin-top: 10px;
        margin-bottom: 10px;
    }    

    .smaly, .function{
        font-size: 1.1rem;
    }
    
    /* Serviços */
    .redi{
        font-size: 1.25rem;
        font-weight: 500;
    }

    /* Rodapé */
    .control{
        grid-template-columns: 1fr 1fr;
        gap: 100px;
    }
    .control *:nth-child(3) {
        grid-column: span 2;
    }
  }

@media (max-width: 780px) {
    /* Cabeçalho */
    .nome{
        font-size: 1.5rem;
    }

    /* Introdução */
    h1{
        font-size: 1.85rem;
    }
    
    .subtit_maior, .subtit_menor{
        font-size: 0.90rem;
        padding-left: 0px;

    }

    /* Conteudo */
    .tit{
        font-size: 1.8rem;
    }

    /* Conexão */
    .box-con{
        gap: 20px;
    }
    
    .connect{
        width: 80vw;
    }

    /* Serviços */
    .redi{
        font-size: 1rem;
    }

    /* Caixa de informações */

    .info {
        grid-template-columns: 1fr;
    }

    /* Apoio Familia */
    
    .column-al {
        flex-direction: column;
    }
    
    .colunas {
        min-width: 100%;
    }

    /* Rodapé */
    .control{
        grid-template-columns: 1fr;
        padding: 40px 5%;
    }

    .control *:nth-child(3) {
        grid-column: unset;
    }
}